.keyboard {
  border: 1px solid black;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.keys {
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem /* 32px */;
  padding: 1rem;
}

.space {
  grid-column: span 4;
}
