.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr 200px; /* tiga kolom dengan lebar 200px, 1fr, dan 200px */
  grid-template-rows: repeat(
    2,
    100px
  ); /* satu baris dengan tinggi 100px, 1fr, dan 100px */
  border: 1px solid black;
  padding: 1rem;
}

.grid-item {
  background-color: #36ac5792;
  border-radius: 12px;
  font-size: 24px;
}
