.box {
  width: 300px;
  height: 150px;
  background-color: blueviolet;
  margin-bottom: 1rem; /* 16px */
  /* margin: 1rem 2rem 4rem; */

  border-top: 8px dashed yellow;
}

.box-with-content {
  width: 300px;
  height: 150px;
  background-color: bisque;
  padding-left: 1rem; /* 16px */
  padding-top: 1rem; /* 16px */
}
