.card-image {
  width: 400px;
  height: 250px;
  background-image: url('./sakura.jpg');
  background-size: 200px;
  border-radius: 1.5rem;
  background-color: rgb(233, 206, 206);
  background-position: center;
  background-repeat: no-repeat;
}