body {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: antiquewhite;
  padding: 0.25rem 1rem;
  position: sticky;
  top: 0;
  margin-top: 1rem;
}

.content {
  padding: 1rem;
}
