.flex-container {
  display: flex;
  flex-flow: row-reverse wrap;
  border: 1px solid #000;
  padding: 1.5rem;
}

.flex-item {
  background-color: lightblue;
  margin: 5px;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 1rem;
}
